<div class="top-bar">
    <img class="logo" src="../icons/logo.png">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name + Age</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <p><strong>ID</strong>: {{example.id}}</p>
                    <p><strong>Text</strong>: {{example.text}}</p>
                    <p><strong>Description:</strong> {{example.description}}</p>
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>