<<<<<<< HEAD
<div id="header">
</div>
<div class='container'>
    <div id="first"> <img src="https://i.imgur.com/wtp1d78.jpg" alt="beach" style="width:100%;">
      <div class="motto">
       You're traveling alone, and looking for a companion to join you on your trip. Or you're looking for a person to dine with in an unfamiliar place. You may even just be looking for another person to help you snag a discount on a group activity or hotel. Whatever the case, <h4>
       
      Flocker </h4> has you covered.
        
      </div>
    </div>
    <div id="second">
      <div class="flavortext">
        <h1>
        Find Your Flock
        </h1>
      </div>
      <div class="formsubmit">
        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button id="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
    </div>
    <div id="clear"></div>
</div>
=======
>>>>>>> 7384cd7c55e3b42905b38ea298fd7dcc11c2629f
